
h1.title {
  font-size: 34px;
  color: black;
}

h2.title{
  color: black;
}

h2 {
  color: black;
}

h2, #TOC>ul>li {
  color: black;
}


#container {
    /*border: 2px dashed #444;*/
    height: 30px;
    margin: 7px;

    /* just for demo */
    min-width: 750px;
}

.red, .amber, .exploratory, .green, .nolist, .custom, .app_combo {
    width: 100px;
    height: 28px;
    /*font-family: Helvetica;*/
    margin-right: 5px;
    margin-top: 8px;
    padding: 5px;
    color: white;
    display: inline-block;
    text-align: center;

    /*display: inline;*/
    /*zoom: 1*/
}
/*.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
*/

.exploratory {
  background: #000;
  border-radius: 5px;

}

.app_combo {
  background: #084594;
  border-radius: 5px;
  color: white;

}

.green {
  background: #3fad46;
  border-radius: 5px;

}

.red {
  background: #d9534f;
  border-radius: 5px;

}

.nolist {
  background: #b8b8ba;
  border-radius: 5px;


}

.amber {
  background: #f0ad4e;
  border-radius: 5px;

}

.custom {
  background: darkmagenta;
  border-radius: 5px;

}

.custom > a:hover,
.green > a:hover,
.red > a:hover,
.amber > a:hover,
.app_combo > a:hover,
.nolist > a:hover,
.exploratory > a:hover {
  color: white;
  text-decoration: underline;
}

.custom > a:link,
.green > a:link,
.red > a:link,
.amber > a:link,
.nolist > a:link,
.app_combo > a:link,
.exploratory > a:link{
  text-decoration: none;
  color: white;
}

.custom > a:visited,
.green > a:visited,
.red > a:visited,
.amber > a:visited,
.nolist > a:visited,
.app_combo > a:visited,
.exploratory > a:visited{
  text-decoration: none;
  color: white;
}

