# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Sphinx documentation
docs/_build/

# PyCharm directory
.idea/

# macOS files
.DS_Store

data
install_no_docker/.Rhistory
install_no_docker/env_macos.yaml
install_no_docker/vep-install/
install_no_docker/install_vep_macos.sh