# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.egg-info/

# Sphinx documentation
docs/_build/

# PyCharm directory
.idea/

# macOS files
.DS_Store

#data
.Rproj.user

.Rhistory
*.Rproj

tests
conda/pcgr
conda/pcgrr


resources/reference_files/
resources/bin/
