.value_box_container {
    /*border: 2px dashed #444;*/
    height: 210px;
    /*margin: 7px;*/

    /* just for demo */
    width: 900px;
    /*max-width: 600px;*/
    /*height: 500px;*/
}

.value_box_tumor_control {
    width: 280px;
    height: 150px;
    font-family: sans-serif;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    display: inline-block;
    text-align: center;
    background: #000;
    border-radius: 25px;

    /*display: inline;*/
    /*zoom: 1*/
}

